@charset "UTF-8";
/****************************************:

スタイル読み込み

*****************************************:*/
/**********

変数管理

**********/
/*************

レスポンシブ

**************/
/*************

メディアクエリ定義

**************/
/*************

font-size定義

**************/
/*************

flex定義

**************/
body {
  font-size: 10px;
  /*IE9以前に対応する*/
  font-size: 0.625rem;
  margin: 0 auto;
  font-family: "Times New Roman", "游明朝", "Yu Mincho", "游明朝体", "YuMincho", "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", "HiraMinProN-W3", "HGS明朝E", "ＭＳ Ｐ明朝", "MS PMincho", serif;
  color: #000000;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.overall {
  font-family: "Times New Roman", "游明朝", "Yu Mincho", "游明朝体", "YuMincho", "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", "HiraMinProN-W3", "HGS明朝E", "ＭＳ Ｐ明朝", "MS PMincho", serif;
  background-color: #f6f6f6;
}

.container {
  width: 100%;
  margin: 0 auto;
  /* position: relative; */
  overflow: hidden;
}

/*************

モック画像
終わったら削除

**************/
.mock {
  /* モック画像 */
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 375px;
  opacity: 0.3;
  /* 反転 */
  -webkit-filter: hue-rotate(180deg);
          filter: hue-rotate(180deg);
  /* テキストを掴まないように */
  pointer-events: none;
  z-index: 999;
}

.section_ttl {
  font-size: 36px;
  /*IE9以前に対応する*/
  font-size: 2.25rem;
  display: block;
  text-align: center;
}

.section_inner {
  margin: 0 auto;
  padding: 0 20px;
  max-width: 1180px;
}

.site_img {
  display: block;
  height: 100%;
}

/****************************************:

nav

*****************************************:*/
.nav {
  position: relative;
  margin-left: 120px;
}

.nav_list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  color: #ffffff;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 480px) {
  .nav_list {
    position: absolute;
    right: -1000px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .nav_list.clicked {
    right: -5vw;
    -webkit-transition: .6s;
    transition: .6s;
  }
}

.nav_ham {
  display: none;
}

@media screen and (max-width: 480px) {
  .nav_ham {
    cursor: pointer;
    position: absolute;
    top: 50%;
    right: 0;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    width: 25px;
    height: 25px;
    z-index: 100;
  }
  .nav_ham.clicked {
    right: 40px;
  }
  .nav_hamspan {
    font-size: 1.1rem;
    position: absolute;
    top: -20px;
    left: -25px;
  }
  .nav_line {
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #ffffff;
  }
  .nav_line:nth-child(1) {
    top: 0px;
  }
  .nav_line:nth-child(2) {
    top: 8px;
  }
  .nav_line:nth-child(3) {
    top: 16px;
  }
  .nav_line.clicked:nth-child(1) {
    -webkit-transform: translateY(12px) rotate(-315deg);
            transform: translateY(12px) rotate(-315deg);
    -webkit-transition: .5s;
    transition: .5s;
  }
  .nav_line.clicked:nth-child(2) {
    left: 0;
    -webkit-transition: .9s;
    transition: .9s;
    opacity: 0;
  }
  .nav_line.clicked:nth-child(3) {
    -webkit-transform: translateY(-4px) rotate(315deg);
            transform: translateY(-4px) rotate(315deg);
    -webkit-transition: .5s;
    transition: .5s;
  }
}

.nav_item {
  text-align: center;
  font-size: 16px;
  /*IE9以前に対応する*/
  font-size: 1rem;
  line-height: 3;
  margin-right: 30px;
}

.nav_item:last-child {
  margin: 0;
}

.nav_link {
  position: relative;
  display: block;
  letter-spacing: .2em;
  -webkit-transition: .3s;
  transition: .3s;
}

.nav_link::after {
  position: absolute;
  bottom: -2px;
  left: 0;
  content: '';
  width: 100%;
  height: 2px;
  -webkit-transform: scale(0, 1);
          transform: scale(0, 1);
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transition: -webkit-transform .7s;
  transition: -webkit-transform .7s;
  transition: transform .7s;
  transition: transform .7s, -webkit-transform .7s;
  background: #ffffff;
}

.nav_link:hover::after {
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
}

.site_btn {
  position: relative;
}

.site_btn.__headbtn::before {
  position: absolute;
  content: '';
  background: url(../img/common/calender.png) left/contain no-repeat;
  width: 22px;
  height: 22px;
  display: block;
  margin: auto;
  left: 37px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.site_link {
  display: block;
  width: 200px;
  font-size: 16px;
  /*IE9以前に対応する*/
  font-size: 1rem;
  color: #000000;
  padding: 20px 0;
  text-align: center;
  line-height: 2;
  border: 1px solid #000000;
  position: relative;
}

.site_list {
  margin-top: 36px;
  display: inline-block;
}

.site_list_item {
  display: inline;
  font-size: 14px;
}

.site_list_item:last-child::after {
  content: '';
}

.site_list_item::after {
  content: '＞';
  padding: 0 16px;
}

.site_list_link {
  display: inline-block;
  text-decoration: none;
  color: inherit;
}

/****************************************:

header

*****************************************:*/
.header {
  width: 100%;
  position: absolute;
  top: 0;
  padding: 20px;
  z-index: 99;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 54px;
}

.header_ttl {
  color: #ffffff;
  position: relative;
  letter-spacing: .5em;
  margin-left: 40px;
  padding: 0 20px;
}

.header_ttl::before {
  position: absolute;
  content: "";
  background: url(../img/common/logo01.png) center no-repeat;
  width: 40px;
  height: 40px;
  display: block;
  z-index: 1;
  background-size: contain;
  left: -40px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.header_link {
  font-size: 25px;
  /*IE9以前に対応する*/
  font-size: 1.5625rem;
  width: 100%;
  height: 100%;
  display: block;
}

.header_btnbox {
  background: #978F10;
  position: absolute;
  right: 20px;
  text-align: center;
  font-size: 16px;
  /*IE9以前に対応する*/
  font-size: 1rem;
}

.header .site_link {
  color: #ffffff;
  border-color: #978F10;
}

/****************************************:

fv

*****************************************:*/
.top {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
}

.top_mv_imgbox {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  overflow: hidden;
}

.top_mv_img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: block;
  overflow: hidden;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: 3s linear transform .3s;
  transition: 3s linear transform .3s;
  height: 100%;
}

.top_mv_img.zoom {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.top_mv_copy {
  font-size: 34px;
  /*IE9以前に対応する*/
  font-size: 2.125rem;
  line-height: 2.5;
  color: #ffffff;
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  z-index: 1;
  letter-spacing: .2em;
  position: absolute;
  right: 25%;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

/****************************************:

top_about

*****************************************:*/
.top_about {
  background: url(../img/common/bg.jpg) center/cover;
  width: 100%;
}

.top_about .section_inner {
  width: 100%;
  max-width: 1180px;
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  padding: 149px 0 54px;
}

.top_about .section_ttl {
  font-size: 28px;
  /*IE9以前に対応する*/
  font-size: 1.75rem;
  text-align: start;
  text-indent: -2em;
  letter-spacing: .5em;
  line-height: 1.5;
  margin: 0 101px 0 0;
}

.top_about_txtbox {
  font-size: 16px;
  /*IE9以前に対応する*/
  font-size: 1rem;
  margin-right: 118px;
}

.top_about_txtbox:nth-child() {
  margin-right: 0;
  margin-left: auto;
}

.top_about_txt {
  margin-left: 118px;
  line-height: 2.2;
  letter-spacing: .3em;
}

.top_about_txt:last-child {
  margin-top: 294px;
  font-size: 22px;
  /*IE9以前に対応する*/
  font-size: 1.375rem;
}

/****************************************:

top_guide

*****************************************:*/
.top_guide {
  padding: 106px 0 78px;
}

.top_guide .section_inner {
  max-width: 1920px;
}

.top_guide_box {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-top: 122px;
}

.top_guide_box:nth-child(2n) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: row-reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.top_guide_imgbox {
  display: block;
  width: 1050px;
  height: 545px;
  margin-right: 137px;
}

.top_guide_imgbox.room_img {
  background: url(../img/section-oheya/oheya-top.jpg) center no-repeat;
  background-size: cover;
}

.top_guide_imgbox.menu_img {
  background: url(../img/section-menu/menu-top.jpg) center no-repeat;
  background-size: cover;
  margin-right: 0;
  margin-left: 174px;
}

.top_guide_imgbox.onsen_img {
  background: url(../img/section-onsen/onsen-top.jpg) center no-repeat;
  background-size: cover;
}

.top_guide_txtbox {
  color: #000000;
  margin-right: auto;
  margin-top: 32px;
}

.top_guide_txtbox.__left {
  margin-left: auto;
  margin-right: 0;
}

.top_guide_ttl {
  font-size: 36px;
  /*IE9以前に対応する*/
  font-size: 2.25rem;
  line-height: 1.72;
}

.top_guide_txt {
  font-size: 16px;
  /*IE9以前に対応する*/
  font-size: 1rem;
  margin-top: 75px;
  line-height: 2;
}

.top_guide .site_link {
  margin-top: 75px;
}

/****************************************:

top-plan

*****************************************:*/
.top_plan {
  background: url(../img/common/bg02.jpg) center/cover no-repeat;
  width: 100%;
  height: 775px;
  display: block;
}

.top_plan .section_inner {
  width: 100%;
  max-width: 1180px;
  padding: 60px 0 144px;
}

.top_plan .top_section_ttl {
  font-size: 36px;
  /*IE9以前に対応する*/
  font-size: 2.25rem;
  text-align: center;
}

.top_plan .top_section_ttl::before {
  content: '';
  background: url(../img/common/logo02.png) top left/contain no-repeat;
  width: 40px;
  height: 40px;
  display: block;
  margin: 0 auto 20px;
}

.top_plan_content {
  margin-top: 66px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.top_plan_item {
  width: 340px;
}

.top_plan_imgbox {
  width: 331px;
  height: 209px;
  overflow: hidden;
}

.top_plan_img {
  display: block;
}

.top_plan_ttl {
  font-size: 20px;
  /*IE9以前に対応する*/
  font-size: 1.25rem;
  margin-top: 32px;
  line-height: 1.6;
}

.top_plan_txt {
  font-size: 16px;
  /*IE9以前に対応する*/
  font-size: 1rem;
  line-height: 2;
  margin-top: 36px;
  letter-spacing: 0;
}

/****************************************:

news

*****************************************:*/
.top_news .section_inner {
  width: 100%;
  max-width: 1180px;
  padding: 60px 0 40px;
}

.top_news .section_ttl {
  font-size: 36px;
  /*IE9以前に対応する*/
  font-size: 2.25rem;
  text-align: center;
}

.top_news .section_ttl::before {
  content: '';
  background: url(../img/common/logo02.png) top left/contain no-repeat;
  width: 40px;
  height: 40px;
  display: block;
  margin: 0 auto 20px;
}

.top_news_list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  margin: 46px 0 49px;
}

.top_news_item {
  font-size: 16px;
  /*IE9以前に対応する*/
  font-size: 1rem;
  margin: 0 26px;
}

.top_news_contentitem {
  font-size: 16px;
  /*IE9以前に対応する*/
  font-size: 1rem;
  background-color: #f6f6f6;
  padding: 15px 10px;
  margin-bottom: 20px;
}

.top_news_contentlist {
  max-width: 1180px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

.top_news_flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
}

.top_news_imgbox {
  width: 103px;
  height: 100%;
  margin-right: 30px;
}

.top_news_img {
  display: block;
}

.top_news_txtbox {
  width: 388px;
}

.top_news_date {
  font-size: 14px;
  /*IE9以前に対応する*/
  font-size: 0.875rem;
}

.top_news_txt {
  font-size: 16px;
  /*IE9以前に対応する*/
  font-size: 1rem;
}

/****************************************:

access

*****************************************:*/
.top_access {
  background: url(../img/common/bg.jpg);
}

.top_access .section_inner {
  padding: 60px 0 110px;
}

.top_access .section_ttl {
  font-size: 36px;
  /*IE9以前に対応する*/
  font-size: 2.25rem;
  text-align: center;
  margin-bottom: 49px;
}

.top_access .section_ttl::before {
  content: '';
  background: url(../img/common/logo02.png) top left/contain no-repeat;
  width: 40px;
  height: 40px;
  display: block;
  margin: 0 auto 20px;
}

.top_access_flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  margin-bottom: 69px;
}

.top_access_flex.flex_center {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 0;
}

.top_access_img {
  background: url(../img/common/access.jpg) center no-repeat;
  height: 370px;
  width: 75%;
  background-size: cover;
  display: block;
}

.top_access_box {
  margin-left: 83px;
}

.top_access_txt {
  font-size: 16px;
  /*IE9以前に対応する*/
  font-size: 1rem;
  line-height: 2;
  width: 180%;
}

/****************************************:

footer

*****************************************:*/
.footer_inner {
  background: url(../img/common/bg3.jpg) center no-repeat;
  background-size: cover;
}

.footer_nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer_list {
  margin-top: 64px;
  text-align: center;
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  margin-bottom: 96px;
}

.footer_item {
  font-size: 18px;
  /*IE9以前に対応する*/
  font-size: 1.125rem;
  margin: 0 15px;
  line-height: 1.78;
  letter-spacing: 1.2em;
  text-align: start;
}

.footer_ttl {
  font-size: 36px;
  /*IE9以前に対応する*/
  font-size: 2.25rem;
  text-align: center;
  margin-bottom: 72px;
  letter-spacing: 5px;
  font-weight: bold;
}

.footer_ttl::before {
  content: '';
  background: url(../img/common/logo02.png) top left/contain no-repeat;
  width: 60px;
  height: 60px;
  display: block;
  margin: 0 auto 20px;
}

.footer_access_box {
  font-size: 16px;
  /*IE9以前に対応する*/
  font-size: 1rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer_access_txt {
  margin-bottom: 61px;
  line-height: 3;
  letter-spacing: 2.88px;
}

.footer_txtbox {
  line-height: 60px;
  text-align: center;
  background-color: #000000;
}

.footer_txt {
  font-size: 12px;
  /*IE9以前に対応する*/
  font-size: 0.75rem;
  color: #ffffff;
}

/****************************************:

下層ヘッダー

*****************************************:*/
.header.color_head {
  background: #ffffff;
}

.header .color_head {
  color: #000000;
}

.header_ttl.under_logo::before {
  position: absolute;
  content: "";
  background: url(../img/common/logo02.png) center no-repeat;
  width: 40px;
  height: 40px;
  display: block;
  z-index: 1;
  background-size: contain;
  left: -40px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

/****************************************:

下層ページ mv

*****************************************:*/
.under_mv {
  position: relative;
}

.under_mv .oheya_imgbox {
  background: url(../img/section-oheya/oheya-header.jpg) center center;
  position: absolute;
  top: 80px;
  left: 0;
  right: 0;
  height: 500px;
  width: 100%;
}

.under_mv .menu_imgbox {
  background: url(../img/section-menu/menu-header.jpg) center center;
  position: absolute;
  top: 80px;
  left: 0;
  right: 0;
  height: 500px;
  width: 100%;
}

.under_mv .onsen_imgbox {
  background: url(../img/section-onsen/onsen-header.jpg) center center;
  position: absolute;
  top: 80px;
  left: 0;
  right: 0;
  height: 500px;
  width: 100%;
}

.mv_copy {
  font-size: 34px;
  /*IE9以前に対応する*/
  font-size: 2.125rem;
  color: #ffffff;
  margin: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

/****************************************:

underコンテンツ

*****************************************:*/
.main_container {
  margin-top: 580px;
}

.intro_txtbox {
  margin: 98px 0 135px;
  text-align: center;
}

.intro_txt {
  line-height: 2;
  font-size: 16px;
  /*IE9以前に対応する*/
  font-size: 1rem;
}

.under_content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 141px;
}

.under_content:nth-child(even) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: row-reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.under_imgbox {
  width: 525px;
  height: 300px;
  margin-top: -57px;
}

.under_txtbox {
  background: url(../img/common/bg.jpg);
  width: 813px;
  height: 381px;
  z-index: -1;
  margin-left: -158px;
}

.under_txtbox.__mg {
  margin-left: 0;
  margin-right: -158px;
}

.under_txtbox .__txtmg {
  margin-left: 60px;
}

.under_ttl {
  margin-top: 60px;
  margin-left: 238px;
  font-size: 24px;
  /*IE9以前に対応する*/
  font-size: 1.5rem;
}

.under_txt {
  margin-top: 52px;
  margin-left: 238px;
  font-size: 16px;
  /*IE9以前に対応する*/
  font-size: 1rem;
}

.under_txt.__txt {
  font-size: 14px;
  /*IE9以前に対応する*/
  font-size: 0.875rem;
}

.onsen_table_wrap {
  border-top: 1px solid #000000;
  border-bottom: 1px solid #000000;
  margin-bottom: 96.5px;
}

.onsen_ttl {
  padding-top: 95.5px;
  margin-bottom: 51.5px;
  text-align: center;
  font-size: 26px;
  /*IE9以前に対応する*/
  font-size: 1.625rem;
}

.onsen_table {
  font-size: 15px;
  /*IE9以前に対応する*/
  font-size: 0.9375rem;
  line-height: 2.13;
  max-width: 880px;
  margin-bottom: 74px;
  margin-left: 150px;
}

.onsen_table .flame {
  border-top: 1px solid #E7E7E7;
  border-bottom: 1px solid #E7E7E7;
}

.onsen_table .head {
  text-align: left;
  margin-right: 160px;
  display: inline-block;
  width: 100%;
  line-height: 2.13;
}

.onsen_table .data {
  text-align: left;
  padding: 17.5px 0;
  font-size: 15px;
  /*IE9以前に対応する*/
  font-size: 0.9375rem;
}

.onsen_table .data.__hight {
  line-height: 1.47;
}
