@charset "UTF-8";
/****************************************:

スタイル読み込み

*****************************************:*/
/**********

変数管理

**********/
/*************

レスポンシブ

**************/
/*************

メディアクエリ定義

**************/
/*************

font-size定義

**************/
/*************

flex定義

**************/
html {
  font-size: 62.5%;
}

body {
  font-size: 10px;
  /*IE9以前に対応する*/
  font-size: 0.625rem;
  font-size: 1.6em;
  font-size: 16px;
  margin: 0 auto;
  font-family: "Times New Roman", "游明朝", "Yu Mincho", "游明朝体", "YuMincho", "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", "HiraMinProN-W3", "HGS明朝E", "ＭＳ Ｐ明朝", "MS PMincho", serif;
  color: #000000;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.overall {
  font-family: "Times New Roman", "游明朝", "Yu Mincho", "游明朝体", "YuMincho", "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", "HiraMinProN-W3", "HGS明朝E", "ＭＳ Ｐ明朝", "MS PMincho", serif;
  background-color: #f6f6f6;
}

.container {
  width: 90%;
  margin: 0 auto;
  /* position: relative; */
  overflow: hidden;
}

/*************

モック画像
終わったら削除

**************/
.mock {
  /* モック画像 */
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 375px;
  opacity: 0.3;
  /* 反転 */
  -webkit-filter: hue-rotate(180deg);
          filter: hue-rotate(180deg);
  /* テキストを掴まないように */
  pointer-events: none;
  z-index: 999;
}

.inner {
  margin: 0 15px;
}

.section_ttl {
  font-size: 36px;
  /*IE9以前に対応する*/
  font-size: 2.25rem;
  display: block;
  text-align: center;
}

.section_inner {
  margin: 0 auto;
  padding: 0 20px;
}

/****************************************:

nav

*****************************************:*/
.nav {
  position: relative;
}

.nav_list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  color: #ffffff;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 480px) {
  .nav_list {
    position: absolute;
    right: -1000px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .nav_list.clicked {
    right: -5vw;
    -webkit-transition: .6s;
    transition: .6s;
  }
}

.nav_ham {
  display: none;
}

@media screen and (max-width: 480px) {
  .nav_ham {
    cursor: pointer;
    position: absolute;
    top: 50%;
    right: 0;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    width: 25px;
    height: 25px;
    z-index: 100;
  }
  .nav_ham.clicked {
    right: 40px;
  }
  .nav_hamspan {
    font-size: 1.1rem;
    position: absolute;
    top: -20px;
    left: -25px;
  }
  .nav_line {
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #ffffff;
  }
  .nav_line:nth-child(1) {
    top: 0px;
  }
  .nav_line:nth-child(2) {
    top: 8px;
  }
  .nav_line:nth-child(3) {
    top: 16px;
  }
  .nav_line.clicked:nth-child(1) {
    -webkit-transform: translateY(12px) rotate(-315deg);
            transform: translateY(12px) rotate(-315deg);
    -webkit-transition: .5s;
    transition: .5s;
  }
  .nav_line.clicked:nth-child(2) {
    left: 0;
    -webkit-transition: .9s;
    transition: .9s;
    opacity: 0;
  }
  .nav_line.clicked:nth-child(3) {
    -webkit-transform: translateY(-4px) rotate(315deg);
            transform: translateY(-4px) rotate(315deg);
    -webkit-transition: .5s;
    transition: .5s;
  }
}

.nav_item {
  text-align: center;
  font-size: 2.5rem;
  line-height: 3;
  padding-right: 30px;
}

.nav_link {
  position: relative;
  display: block;
  letter-spacing: .2em;
  -webkit-transition: .3s;
  transition: .3s;
}

.nav_link::after {
  position: absolute;
  bottom: -5px;
  left: 0;
  content: '';
  width: 100%;
  height: 2px;
  -webkit-transform: scale(0, 1);
          transform: scale(0, 1);
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transition: -webkit-transform .7s;
  transition: -webkit-transform .7s;
  transition: transform .7s;
  transition: transform .7s, -webkit-transform .7s;
  background: #ffffff;
}

.nav_link:hover::after {
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
}

.nav_link:hover {
  color: #ffffff;
  letter-spacing: .5em;
  -webkit-transition: .5s;
  transition: .5s;
}

.site_link {
  display: block;
  width: 200px;
  border: 1px solid #707070;
  font-size: 16px;
  /*IE9以前に対応する*/
  font-size: 1rem;
  padding: 20px 0;
  text-align: center;
  line-height: 2em;
}

/****************************************:

header

*****************************************:*/
.header {
  width: 100%;
  position: absolute;
  top: 0;
  padding: 20px;
  z-index: 99;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.header_link {
  width: 100%;
  height: 100%;
  display: block;
  font-size: 3rem;
}

.header_ttl {
  color: #ffffff;
  position: relative;
}

.header_ttl::before {
  position: absolute;
  content: "";
  background: url(../img/common/logo01.png);
  width: 50px;
  height: 50px;
  display: block;
  z-index: 1;
}

/****************************************:

fv

*****************************************:*/
.top {
  position: relative;
}

.top_mv_imgbox {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100vh;
  height: 1079px;
}

.top_mv_img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: block;
  overflow: hidden;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: 3s linear transform .3s;
  transition: 3s linear transform .3s;
}

.top_mv_img.zoom {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

/****************************************:

top_about

*****************************************:*/
.top_about {
  background: url(../img/common/bg.jpg) center/cover;
  width: 100%;
  margin-top: 1079px;
}

.top_about .section_inner {
  width: 100%;
  max-width: 1180px;
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  padding: 60px;
}

.top_about .section_ttl {
  font-size: 28px;
  /*IE9以前に対応する*/
  font-size: 1.75rem;
  text-align: start;
  text-indent: -2em;
  letter-spacing: .5em;
}

/****************************************:

footer

*****************************************:*/
