// サイトコンテンツスタイル用


/****************************************:

header

*****************************************:*/
.header {
    padding: 20px;

    &_logo {
        width: ;
    }

    &_link {
        width: 100%;
        height: 100%;
        display: block;
    }

}








/****************************************:

fv

*****************************************:*/







/****************************************:

section

*****************************************:*/








/****************************************:

footer

*****************************************:*/



