// ベーススタイル用


// html {
//     // ルートのフォントサイズ 10pxに設定
//     font-size: 62.5%;
// }

body {

    @include rem(10);

    // デフォルトのフォントサイズ 16pxと同等のサイズに設定
    // font-size: 1.6em;
    // font-size: 16px;
    margin: 0 auto;
    // letter-spacing: .5em;
    font-family: $fontMain;
    color: $cBlack;

    // width: 375px;

    .fix {
        overflow: hidden;
    }
}


* {
    box-sizing: border-box;
}


.overall {
    font-family: "Times New Roman", "游明朝", "Yu Mincho", "游明朝体", "YuMincho", "ヒラギノ明朝 Pro W3",
                "Hiragino Mincho Pro", "HiraMinProN-W3", "HGS明朝E", "ＭＳ Ｐ明朝", "MS PMincho", serif;

    background-color: $cBgColor;
}

.container {
    width: 100%;
    margin: 0 auto;
    // color: $cWhite;
    /* position: relative; */
    overflow: hidden;
}

/*************

モック画像
終わったら削除

**************/


.mock {
    /* モック画像 */
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 375px;
    opacity: 0.3;

    /* 反転 */
    filter: hue-rotate(180deg);

    /* テキストを掴まないように */
    pointer-events: none;

    z-index: 999;
}








//共通タイトル
.section_ttl {
    @include rem(36);
    display: block;
    text-align: center;
}


//セクションの共通inner
.section_inner {
    margin: 0 auto;
    padding: 0 20px;
    max-width: 1180px;


}

.site_img {

        display: block;
        height: 100%;

}