// サイト共通で必要になる設定値
// 変数定義用


/**********

変数管理

**********/

//color
$cWhite: #ffffff;
$cBlack: #000000;
$cBgColor: #f6f6f6;
$cOcher: #978F10;
$cGray: #707070;
$cLgray: #E7E7E7;
$cContact: #797878;



//font-family

$fontMain: "Times New Roman", "游明朝", "Yu Mincho", "游明朝体", "YuMincho", "ヒラギノ明朝 Pro W3",
                "Hiragino Mincho Pro", "HiraMinProN-W3", "HGS明朝E", "ＭＳ Ｐ明朝", "MS PMincho", serif;




/*************

レスポンシブ

**************/


//ブレイクポイント
$widthPc: 1439px;
$widthTab: 764px;
$widthSP: 480px;


