// サイト共通で使用するパーツ


/****************************************:

nav

*****************************************:*/

.nav {
    position: relative;
    // margin-left: 120px;

    &_wrap {
        @include tab {
            position: absolute;
            left: 50%;
            transform: translateY(-50%);

        }
        @include SP {
            position: absolute;
            left: 50%;
            transform: translateY(-50%);

        }
    }




    &_list {
        @include flex($justify: flex-start);
        color: $cWhite;
        align-items: center;


        @include tab {
            justify-content: center;

            position: absolute;
            top: 35px;
            // left: 50%;
            // transform: translateX(-50%);

            right:  -2000px;
            display: flex;
            flex-direction: column;

            // width: 101vw;
            height: 100vh;
            background-color: $cWhite;


            &.clicked {
                left: 50%;
                transform: translateX(-50%);
                transition: .6s;

                .nav_item {
                    color: $cBlack;
                    margin: 20px 0;

                    &:hover {
                        border-bottom: 1px solid $cBlack;
                    }
                }

            }

        }

        @include SP {
            justify-content: center;

            position: absolute;
            top: 35px;
            // left: 50%;
            // transform: translateX(-50%);

            right:  -2000px;
            display: flex;
            flex-direction: column;

            // width: 101vw;
            height: 100vh;
            background-color: $cWhite;


            &.clicked {
                left: 50%;
                transform: translateX(-50%);
                transition: .6s;

                .nav_item {
                    color: $cBlack;
                    margin: 20px 0;

                    &:hover {
                        border-bottom: 1px solid $cBlack;
                    }
                }

            }


 


        }

    }



 

    &_ham {
        display: none;

    }



    @include tab {

        // ハンバーガーメニュー
        &_ham {
            display: block;
            cursor: pointer;
            position: absolute;
            top: 50%;
            right: 20px;
            transform: translateY(-50%);
            width: 25px;
            height: 25px;
            z-index: 100;


            &.clicked {
                right: 20px;
            }
        }

        &_hamspan {
            font-size: 1.1rem;
            position: absolute;
            top: -20px;
            left: -25px;
        }

        &_line {
            position: absolute;
            width: 100%;
            height: 2px;
            background-color: $cWhite;

            &:nth-child(1) {
                top: 0px;

            }

            &:nth-child(2) {
                top: 8px;
            }

            &:nth-child(3) {
                top: 16px;
            }

            &.clicked:nth-child(1) {
                transform: translateY(12px) rotate(-315deg);
                transition: .5s;

            }
            &.clicked:nth-child(2) {
                left: 0;
                transition: .9s;
                opacity: 0;

            }

            &.clicked:nth-child(3) {
                transform: translateY(-4px) rotate(315deg);
                transition: .5s;

            }

        }

    }

    @include SP {
        // ハンバーガーメニュー
        &_ham {
            display: block;
            cursor: pointer;
            position: absolute;
            top: 50%;
            right: 20px;
            transform: translateY(-50%);
            width: 25px;
            height: 25px;
            z-index: 100;

            &.clicked {
                right: 20px;
            }
        }

        &_hamspan {
            font-size: 1.1rem;
            position: absolute;
            top: -20px;
            left: -25px;
        }

        &_line {
            position: absolute;
            width: 100%;
            height: 2px;
            background-color: $cWhite;

            &:nth-child(1) {
                top: 0px;

            }

            &:nth-child(2) {
                top: 8px;
            }

            &:nth-child(3) {
                top: 16px;
            }
            &.clicked:nth-child(1) {
                transform: translateY(12px) rotate(-315deg);
                transition: .5s;

            }
            &.clicked:nth-child(2) {
                left: 0;
                transition: .9s;
                opacity: 0;

            }

            &.clicked:nth-child(3) {
                transform: translateY(-4px) rotate(315deg);
                transition: .5s;

            }

        }


    }



    &_item {
        text-align: center;
        // margin-top: 50px;
        @include rem(16);
        line-height: 3;
        margin-right: 30px;

        &:last-child {
            margin: 0;
        }

        @include tab {

            margin-right: 0;
            @include rem(26);

        }

    }

    &_link {
        position: relative;
        display: block;
        letter-spacing: .2em;
        transition: .3s;



         //ナビホバー時の下線
        &::after {
            position: absolute;
            bottom: -2px;
            left: 0;
            content: '';
            width: 100%;
            height: 2px;
            transform: scale(0, 1);
            transform-origin: center;
            transition: transform .7s;
            background: $cWhite;
        }

        &:hover::after {
            transform: scale(1, 1);
        }

    }

}




// 共通ボタン

.site_btn {
    position: relative;

    &.__headbtn::before {
        position: absolute;
        content: '';
        background: url(../img/common/calender.png) left / contain no-repeat;
        width: 22px;
        height: 22px;
        display: block;
        margin-right: 10px;
        left: 37px;
        top: 50%;
        transform: translateY(-50%);

        @include tab {
            width: 15px;
            height: 15px;
            left: 10px;

        }

        @include SP {
            width: 10px;
            height: 10px;
            left: 15px;
        }

    }
    &:hover {
        opacity: .5;
        transition: .4s;
    }



}



.site_link {
    display: block;
    width: 200px;
    // height: 56px;

    @include rem(16);
    color: $cBlack;

    padding: 19px 0;
    text-align: center;
    line-height: 2; // xd数値÷ fontsize
    border: 1px solid $cBlack;
    position: relative;


    @include tab {
        width: 120px;
        padding: 5px 0;
        @include rem(14);
    }

    @include SP {
        width: 80px;
        padding: 10px 0;
        line-height: 1;
        margin-left: 10px;
        @include rem(10);
    }



}



// パンくずリスト

.site_list {
    margin-top: 36px;
    display: inline-block;

    &_item {
        display: inline;
        font-size: 14px;
        &:last-child::after {
            content: '';
        }
    }

    &_item::after {
        content: '＞';
        padding: 0 16px;
    }

    &_link {
        display: inline-block;
        text-decoration: none;
        color: inherit;
    }
}


// ボタンクリック時のフィルター
.dark_fill {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba($cBlack, .4);
    opacity: 0;
    visibility: hidden;
    z-index: 5;
    transition: .4;

    &.active {
        visibility: visible;
        opacity: 1;
    }
}



// モーダル
.calendar {

    display: none;
    width: 550px;
    height: 600px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: $cWhite;
    z-index: 20;
    padding: 29px 60px 90px;
    line-height: 1;

    @include tab {
        width: 70%;
        height: 450px;
    }

    @include SP {
        width: 80%;
        height: 450px;
        padding: 25px 35px 80px;
    }



    &_ttl {
        // margin: 29px auto 0;
        padding-bottom: 29.5px;
        @include rem(20);
        text-align: center;
        line-height: 1.7;
        border-bottom: 1px solid $cGray;

        @include tab {
            @include rem(18);
            padding-bottom: 20px;
            line-height: 1.4;
        }

        @include SP {
            @include rem(14);
            padding-bottom: 14px;
        }

    }

    &_close {
        position: absolute;
        top: 20px;
        right: 22px;
        width: 18px;
        height: 18px;
        display: block;
        cursor: pointer;
    }

    &_inner {
        margin-top: 35.5px;
        // padding: 0 60px;
        display: flex;
        flex-direction: column;

        @include tab {
            margin-top: 15px;
        }

        @include SP {
            margin-top: 15px;
        }
    }

    &_form {
        line-height: 1;
    }

    &_img {
        display: block;
        width: 100%;
        height: 100%;
    }

    &_select {
        // width: 300px;
        @include rem(14);
        color: $cContact;
        display: block;
        // padding: 9px 0;

        option {
            @include rem(14);
        }

        @include tab {
            @include rem(12);

            option {
                @include rem(10);
            }
        }

        @include SP {
            @include rem(12);

            option {
                @include rem(10);
            }
        }

    }

    &.open {
        display: block;
    }


}

.form_ttl {
    @include rem(16);
    line-height: 1.68;
    margin-bottom: 14px;

    @include tab {
        @include rem(12);
        margin-bottom: 10px;
    }

    @include SP {
        @include rem(12);
        margin-bottom: 8px;
    }
}

.form_box {
    width: 100%;
    // line-height: 30px;
    border: 1px solid $cLgray;
    color: $cContact;
    margin-bottom: 14px;
    height: 30px;

}

.contact_link {
    margin: 50px auto 0;
    width: 198px;
    line-height: 42px;
    background: $cWhite;
    border: 1px solid $cGray;
    cursor: pointer;
    display: block;

    @include tab {
        margin: 20px auto 0;
    }

    @include SP {
        margin: 15px auto 0;
    }
}